@model ProductListViewModel



<h5>Index Sayfası</h5>

@if(Model.Products.Count()==0)
{
    <p>Ürün Bulunamadı.</p>
}

@foreach(var p in Model.Products)
{
    <di>
        <h4>@p.Name</h4>
        <p>@p.Description</p>
        <p>@p.Price</p>
    </di>

}

@for(var i=1; i <= Model.PageInfo.TotalPages; i++)
{
    <a href="/?page=@i">@i</a>
}